/* Utils */
button {
    border-radius: 10px;
    border: 0px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #3882F6;
    font-size: 17px;
    min-height: 50px;
    min-width: 160px;
}
button:hover {
    box-shadow: -1px -1px #3576e0;
}
button:active {
    font-size: 16px;
    min-width: 160px;
    font-weight: bold;;
}
/* Links */
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    font-weight: bold;;
}
a:visited {
    color:#3882F6
}
#middle a{
    color: #000;
    font-weight: 400;
}
/* Header */
body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
header {
    background-color: #1F2937;
    margin: -8px;
    padding: 0;
    overflow: auto;
}

header h2 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 48px;
}
header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: end;
    align-items: flex-end;
    padding: 10px 15%;
}
header #logo {
    display: flex;
    align-items: flex-start;
    flex: 1;
    gap: 25px;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-bottom: -15px;
}
#banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 0 50px 0;
}
#banner td {
    padding: 0 20px;
    width: 50%;
}
#banner table p {
    margin: -40px 0 20px 0;
    font-size: 20px;
}
#banner #bimg {
    background-image: url("images/city.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
/* Middle info */
#info {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}
#middle {
    margin: -8px;
    color: black;
    display: flex;
    justify-content: center;
    padding: 10px 0 30px 0;
}
#middle table td {
    padding: 50px;
    border: 2px solid #3576e0;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#middle table tr td:hover {
    border: 2px solid #285eb4
}
#middle .spacer {
    border: 0px;
    padding: 10px;
}
#middle .spacer:hover {
    opacity: 0;
    border: 0px;
}
#middle #desc-middle td {
    border: 0px;
    padding: 0;
    max-width: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:rgb(61, 61, 60)
}
#middle #desc-middle td:hover {
    opacity: 1;
}
.dhover:hover {
    opacity: 0.5;
}
#quote {
    display: flex;
    background-color: #e5e7eb;
    margin: -8px;
    color: black;
    justify-content: center;
    align-items: center;
    padding: 50px 20%;
    font-size: 40px;
    font-style: italic;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#quote span {
    align-self: flex-end;
    padding: 20px 0 0 0;
    font-weight: 700;
    font-style: normal;
}
#cta {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cta #cta-text {
    background: linear-gradient(90deg, rgba(56,130,246,1) 0%, rgba(53,123,233,1) 35%, rgba(0,91,255,1) 100%);
    min-width: 60%;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 10px 10px 31px -14px rgba(0,0,0,0.46);
}
#cta #cta1 {
    font-size: 30px;
}
#cta #cta2 {
    margin: -30px 0 0 0;
    font-weight: 100;
    font-size: 20px;
}
#cta button {
    border: 3px solid #fff;
    margin-top: 20px;
}